<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anothe</title>
</head>
<body>
    <div>
        <ul class="center">
        <label>
            Suspendisse volutpat aliquet placerat. Cras semper
             fringilla risus, eu ultrices sapien placerat eget. 
             Praesent laoreet lectus nec nunc tincidunt ultrices. In id nisi a 
             ipsum ullamcorper tincidunt sed mattis quam. Mauris ullamcorper euismod purus,
              et pellentesque diam blandit vel. Donec tincidunt aliquam leo, sed pharetra nunc.
               Suspendisse potenti. Phasellus sit amet viverra est, ac dapibus nulla. Vestibulum 
               dictum pharetra libero sit amet pharetra. Quisque consequat venenatis nisl
               , quis consequat purus eleifend condimentum. Aliquam erat volutpat. Quisque 
               ut orci elementum, aliquam mi eu, tristique elit. Donec blandit lobortis mattis.
        </label>
                <button type="submit" action="1500s" style="width: max-content;">This is ilustration of View</button>

        </ul>  
    </div>
</body>
</html>