@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-7">FoodConsulting engineering doo</h1>
    <h2 class="display-7">we provide newest solutions for your products to be top tier</h2>
</div>
<div>
    <label>
        At FoodConsulting, 
        our Agriculture Standards Engineer service is dedicated 
        to elevating agricultural operations through the development,
        implementation, and maintenance of rigorous standards. Our team 
        of skilled engineers combines deep agricultural knowledge with 
        technical expertise to ensure your farming practices are efficient,
        sustainable, and compliant with industry regulations.
    </label>
   
</div>
