@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-7">FoodConsulting engineering doo</h1>
    <h2 class="display-7">we provide newest solutions for your products to be top tier</h2>
</div>
