@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/home.css">
    @* <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> *@
    <script type="text/javascript" src="~/js/home.js"></script>
</head>
<body>
<div class="text-center">
    <h1 class="display-7">FoodConsulting engineering doo</h1>
    <h2 class="display-7">we provide newest solutions for your products to be top tier</h2>
</div>
<div class="start">
    <label>
        At FoodConsulting, 
        our Agriculture Standards Engineer service is dedicated 
        to elevating agricultural operations through the development,
        implementation, and maintenance of rigorous standards. Our team 
        of skilled engineers combines deep agricultural knowledge with 
        technical expertise to ensure your farming practices are efficient,
        sustainable, and compliant with industry regulations.
    </label>
    <p>Welcome, do you need help?</p>
    <button type="submit" id="mouseBtn">Mouse over</button>
</div>
  <label>
        At FoodConsulting, 
        our Agriculture Standards Engineer service is dedicated 
        to elevating agricultural operations through the development,
        implementation, and maintenance of rigorous standards. Our team 
        of skilled engineers combines deep agricultural knowledge with 
        technical expertise to ensure your farming practices are efficient,
        sustainable, and compliant with industry regulations.
    </label>
      <label>
        At FoodConsulting, 
        our Agriculture Standards Engineer service is dedicated 
        to elevating agricultural operations through the development,
        implementation, and maintenance of rigorous standards. Our team 
        of skilled engineers combines deep agricultural knowledge with 
        technical expertise to ensure your farming practices are efficient,
        sustainable, and compliant with industry regulations.
    </label>
      <label>
        At FoodConsulting, 
        our Agriculture Standards Engineer service is dedicated 
        to elevating agricultural operations through the development,
        implementation, and maintenance of rigorous standards. Our team 
        of skilled engineers combines deep agricultural knowledge with 
        technical expertise to ensure your farming practices are efficient,
        sustainable, and compliant with industry regulations.
    </label>
</body>
</html>

