<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FoodConsulting</title>
</head>

<body>
    <div class="form-group">
        <ul>
            <ol>
                <td>HACCP</td>
            </ol>

            <ol>
                <td>ISO Standards</td>
            </ol>
            <ol>
                <td>FSSC 22000</td>
            </ol>
            <ol>
                <td>Global Gap Standard</td>
            </ol>
        </ul>
    </div>


</body>
</html>
