<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FoodConsulting</title>
    <link rel="stylesheet" href="~/css/standards.css" asp-append-version="true" />
</head>

<body>
    <div class="form-group">
       
        <h1><label class="text-center">This page is used for our clients to write a review about collaboration that we
                had</label>
        </h1>
         <label>Sort by
            <select>
                <option>Relevance</option>
                <option>Newest</option>
                <option>Oldest</option>
                <option>By Grade ascending</option>
                <option>By Grade descending</option>
            </select>
        </label><br>
    </div>

</body>

</html>
