<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FoodConsulting</title>
    <link rel="stylesheet" href="~/css/standards.css" asp-append-version="true" />
</head>
<body>
    <div class="form-group">
        <label>This page is used for our clients to write a review about collaboration that we had</label>
    </div>
</body>
</html>
